.ghn-icon {
  margin-left: 4px;
  display: inline-block;
  height: 30px;
}

:global(.title-address) {
  margin-top: 10px;
}

.method-list {
  margin-top: 10px;
}

:global(.ant-typography) {
  font-size: 14px;
}
