.news:global(.row) {
  padding: 8px;
  width: 90%;
  margin: 0 auto;
  background-color: #f7f7f7;
  display: flex;
  flex-wrap: nowrap;
  height: 150px;
  overflow: hidden;
  border-radius: 10px;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  & > a {
    flex-shrink: 0;
    width: 150px;
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      background-position: center;
      background-size: cover;
      border-radius: 10px;
    }
  }

  .box-news-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 20px;
    overflow: hidden;
  }

  .news-title {
    color: black;
    font-size: 18px;
    padding-bottom: 2px;
    font-weight: 500;
    flex-shrink: 0;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
  }
  .news-content {
    flex-grow: 1;
    font-size: 14px;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    color: #8e9091;
  }

  .news-info {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .news-info-item {
      color: #8e9091;
      font-weight: 500;
    }
  }
}
