.popup-chat {
  position: fixed;
  visibility: hidden;
  width: 310px;
  height: 420px;
  bottom: 170px;
  right: 150px;
  z-index: 99999999;

  &.active {
    visibility: visible;
  }

  .box-chat {
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.1);

    .header-chat {
      display: flex;
      width: 100%;
      padding: 6px 0;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 -1px rgba(0, 0, 0, 0.1) inset,
        0 2px 1px -1px rgba(255, 255, 255, 0.5) inset;

      .header-chat-avatar {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 55px;
        height: 100%;

        img {
          border-radius: 50%;
          border: 1px solid wheat;
          width: 35px;
          height: 35px;
          background-position: center;
          background-size: cover;
          cursor: pointer;
          object-fit: cover;
          box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
            rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
        }

        &:before {
          content: "";
          position: absolute;
          bottom: 7px;
          right: 9px;
          width: 11px;
          height: 11px;
          border-radius: 50%;
          border: 2px solid white;
          background-color: #31a24c;
        }
      }

      .header-chat-info {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .name {
          color: black;
          font-size: 14px;
          line-height: 18px;
          cursor: pointer;
        }

        .status {
          font-weight: normal;
          font-size: 12px;
          line-height: 16px;
          cursor: pointer;
          color: #65676b;
        }
      }

      .header-chat-feature {
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
        align-items: center;
        width: 100px;
        height: 100%;

        svg {
          cursor: pointer;
          width: 26px !important;
          height: 26px !important;
          fill: rgb(0, 132, 255) !important;
        }
      }
    }

    .body-chat {
      flex-grow: 1;
      padding: 0 5px;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        width: 6px;
      }

      &::-webkit-scrollbar-track {
        background-color: #f1f1f1;
        border-radius: 100px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #8be8fd;
        border-radius: 100px;
      }

      .box-mess {
        display: flex;
        padding-top: 12px;
        padding-right: 10px;

        .box-image {
          display: flex;
          justify-content: center;
          align-items: flex-start;
          padding-top: 5px;
          padding-right: 8px;

          img {
            width: 20px;
            height: 20px;
            object-fit: cover;
            background-position: center;
            background-size: cover;
            border-radius: 50%;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 0.5px 4px;
          }
        }

        .mess-content {
          max-width: 75%;

          p {
            font-size: 1.3rem;
            line-height: 18px;
            color: #090c13;
            width: 100%;
            height: 100%;
            padding: 8px 14px;
            border-radius: 18px;
            word-break: break-word !important;
            background-color: #f0f2f5;
          }
        }

        &.to-right {
          justify-content: flex-end;

          .box-image {
            display: none;
          }

          .mess-content > p {
            color: #ffffff;
            background-color: rgba(0, 132, 255, 0.945);
          }
        }
      }
    }

    .emotion-icon {
      position: absolute;
      background-color: #f2f2f2;
      border-radius: 6rem;
      bottom: 64px;
      left: 30px;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

      .list_icon {
        display: flex;
        margin: 6px 10px;

        .icon {
          padding: 4px 4px;
          cursor: pointer;
          text-align: center;

          &:hover {
            background-color: rgb(235, 235, 235);
          }
          .img_icon {
            width: 20px;
            height: 20px;
          }
        }
      }
    }

    .footer-chat {
      padding: 10px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: auto;

      .footer-chat-more {
        width: 50px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
          cursor: pointer;
          fill: rgb(0, 132, 255);
        }
      }

      .footer-chat-message {
        overflow-x: hidden;
        flex-grow: 1;
        padding: 2px 0;

        input {
          font-weight: normal;
          font-size: 1.4rem;
          color: #090c13;
          width: 100%;
          height: auto;
          outline: none;
          border: none;
          padding: 12px 14px;
          background-color: #f0f2f5;
          border-radius: 20px;
          word-break: break-word !important;
          overflow-x: hidden;
          overflow-y: hidden;
          white-space: pre-wrap;
          overflow-wrap: break-word;
        }
      }

      .footer-chat-send {
        width: 50px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
          cursor: pointer;
          fill: rgb(0, 132, 255);
        }
      }
    }
  }
}
