.btn-noti {
  position: fixed;
  width: 45px;
  height: 45px;
  right: 50px;
  bottom: 170px;
  text-align: center;
  border-radius: 8px;
  background-color: #8be8fd67;
  cursor: pointer;

  &:hover {
    box-shadow: #8be8fd67 0px 0px 4px 1px;
    background-color: #8be8fd93;
  }

  i {
    color: #2577fd;
    line-height: 45px;
    font-size: 2.4rem;
  }
}

.text-noti {
  font-size: 16px;
}
